<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>
</head>
<body>
<div th:with="condition=${session != null && session.employee != null}" th:remove="tag">
    <div th:if="${condition}">
        <span class="navbar-text pr-2" th:if="${condition}" th:text="'Employee number: ' + ${session.employee.getId()} + '!'"></span>
        <a class="btn btn-secondary btn-sm" href="logout" role="button">Logout</a>
    </div>
</div>
<div>
    <a href="sales" class="button">Sales Report Page</a>
</div>
<div>
    <h3>        Service Package Creator</h3>

    <form action="create-package" method="post">
        <label>Service Package Name:</label>
        <input type="text" name="servicePackageName" required="required">
        <br>
        <button onclick="addValidityAndFee()">Add new</button>
        <div id="periods-container">
            <div class="period">
                Enter validity period (months)
                <input type="number"name="servicePackageValidityPeriod" required="required">
                <br>
                Enter its monthlyFee
                <input type="number"name="servicePackageMonthlyFee" required="required">
            </div>
        </div>
        <div>
            Choose associated services
            <div th:each="service : ${allServices}">
                <input type="checkbox" name = "chosenServices"
                       th:text="${service.getServiceType()}"
                       th:value="${service.getServiceId()}" />
<!--                todo aggiungere gli altri campi-->
            </div>
        </div>
        <div>
            Choose associated optional products
            <div th:each="optionalProduct : ${allOptionalProducts}">
                <input type="checkbox" name = "chosenOptionalProducts"
                       th:text="${optionalProduct.getName()} + ' for ' + ${optionalProduct.getMonthlyFee()} + ' euros per month'"
                       th:value="${optionalProduct.getProductId()}"/>
            </div>
        </div>
        <input type="submit" value="Create Service Package">
    </form>
</div>
<div>
    <h3>        Optional Product Creator</h3>
    <form action="create-optional" method="post">
        <label>Service Package Name:</label>
        <input type="text" name="optionalProductName" required="required">
        <br>
         Enter its monthlyFee
        <input type="number"name="optionalProductMonthlyFee" required="required">
        <br>
        <input type="submit" value="Create Optional Product">
    </form>
</div>
<script>
    function addValidityAndFee(){
        const periodsContainer = document.getElementById('periods-container');

        const newDiv = "<div class=\"period\">" +
            "Enter validity period (months)" +
            "<input type=\"number\" name=\"servicePackageValidityPeriod\" required=\"required\">" +
                "<br>" +
                    "Enter its monthlyFee" +
                    "<input type=\"number\" name=\"servicePackageMonthlyFee\" required=\"required\">" +
        "</div>";

        periodsContainer.insertAdjacentHTML("beforeend", newDiv);

    }
</script>
</body>
</html>