<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Buy Service Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div><p>Select a Service Package</p>
    <form action="buyservice" method="post">
        Choose the package:
    <select name="chosenPackageId">
<!--        <option th:if="${chosenPackages!= null} "value="${chosenPackages.get(0).getId()}" th:text="${chosenPackages.get(0).getName()}"}></option>-->
        <option th:each="packageList : ${packageMap}" th:value="${packageList.getKey()}" th:text="${packageList.getValue().get(0).getName()}">
        <option th:if="${chosenPackages!= null}" value="${chosenPackages.get(0).getId()}" selected disabled hidden>
            <div th:text="${chosenPackages.get(0).getName()}"> </div>
        </option>
        </option>
    </select>
        <input type="submit" value="Select Package">
    </form>
    <form action="buyservice" method="post" th:if="${chosenPackages!= null}">
        Choose the validity period:
        <select name="chosenValidityPeriod">
            <option th:each="package : ${chosenPackages}" th:value="${package.getValidityPeriod()}"
                    th:text="${package.getValidityPeriod()} + ' months for ' + ${package.getMonthlyFee()} + ' euros'">
            </option>
            <option th:if="${chosenValidityPeriod!= null}" value="${chosenPackage.getValidityPeriod()}" selected disabled hidden>
                <div th:text="${chosenPackage.getValidityPeriod()} + ' months for ' + ${chosenPackage.getMonthlyFee()} + ' euros'"> </div>
            </option>
        </select>
        <input type = "hidden" th:if= "${chosenPackageId!=null}" th:value="${chosenPackageId}" name = "chosenPackageId">
        <input type="submit" value="Select Validity Period">
    </form>
    <div th:if="${chosenPackage!= null} and ${chosenOptionalProducts==null}">
        <form th:action="buyservice"  method="post">
            <p>
                <label>Optional Products:</label>
            <div th:each="optionalProduct : ${chosenPackage.getOptionalProducts()}">
                <input type="checkbox" name = "chosenOptionalProducts"
                       th:text="${optionalProduct.getName()} + ' for ' + ${optionalProduct.getMonthlyFee()} + ' euros per month'"
                       th:value="${optionalProduct.getProductId()}"/>
            </div>
            </p>
            <input type = "hidden" th:if= "${chosenPackageId!=null}" th:value="${chosenPackageId}" name = "chosenPackageId">
            <input type = "hidden" th:if= "${chosenValidityPeriod!=null}" th:value="${chosenValidityPeriod}" name = "chosenValidityPeriod">
            <input type="submit" value="Select Optional Product(s)">
        </form>
    </div>
    <div th:if="${chosenPackage!= null && chosenOptionalProducts!=null}">
        <form th:action="buyservice"  method="post">
            <p>
                <label>Optional Products:</label>
                    <div th:each="optionalProduct : ${chosenPackage.getOptionalProducts()}">
                    <input type="checkbox" name = "chosenOptionalProducts"
                           th:if="${chosenOptionalProductsMap.get(optionalProduct.getProductId())}"
                           th:text="${optionalProduct.getName()} + ' for ' + ${optionalProduct.getMonthlyFee()} + ' euros per month'"
                           th:value="${optionalProduct.getProductId()}"
                           checked="checked"/>
                    <input type="checkbox" name = "chosenOptionalProducts"
                           th:unless="${chosenOptionalProductsMap.get(optionalProduct.getProductId())}"
                           th:text="${optionalProduct.getName()} + ' for ' + ${optionalProduct.getMonthlyFee()} + ' euros per month'"
                           th:value="${optionalProduct.getProductId()}"/>
                </div>
            </p>
            <input type = "hidden" th:if= "${chosenPackageId!=null}" th:value="${chosenPackageId}" name = "chosenPackageId">
            <input type = "hidden" th:if= "${chosenValidityPeriod!=null}" th:value="${chosenValidityPeriod}" name = "chosenValidityPeriod">
            <input type="submit" value="Select Optional Product(s)">
        </form>
    </div>
 <div th:if="${chosenOptionalProducts!=null}">
     <form th:action="confirmation"  method="post">
         <label>Start date:</label>
         <input type="date" name="startDate"
                th:min="${today}" th:max="${tomorrow}">
         <input type = "hidden" th:if= "${chosenPackageId!=null}" th:value="${chosenPackageId}" name = "chosenPackageId">
         <input type = "hidden" th:if= "${chosenValidityPeriod!=null}" th:value="${chosenValidityPeriod}" name = "chosenValidityPeriod">
         <div th:each="optId : ${chosenOptionalProducts}">
             <input type = "hidden" th:value="${optId}" name = "chosenOptionalProducts">
         </div>
         <input type="submit" value="Confirm">
     </form>
 </div>
</div>
</body>
</html>